.footer{
  display: flex;
  flex-direction: column;
  padding: 50px 0px 25px 0px;
  &__partners{
    text-align: center;
    margin-bottom: 50px;
  }
  &__copy{
    text-align: center;
    p{
      font-size: 13px;
      color: rgb(132, 132, 132);
    }
  }
}

@media(max-width:1050px){
  .footer{
    &__partners{
      display: none;
    }
  }
}
